<h1>Login</h1>

<form action="/login" method="POST">
    <div class="form-control">
        <label>Email: </label>
        <input
            type="email"
            name="email"
            placeholder="Type your email"
            required="true"
        />
    </div>
    <div class="form-control">
        <label>Password: </label>
        <input
            type="password"
            name="password"
            placeholder="Type your password"
            required="true"
        />
    </div>
    <button type="submit">Login</button>
</form>